*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
 }
.container {
    height: 100%;
    margin: 0 auto;
    padding: 20px;
   max-width: 1200px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px ;
    margin-bottom: 20px;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.card {
    width: 32%;
    position: relative;
    border-radius:10px ;
    margin-bottom:20px ;
    overflow: hidden;
}

.card img {
    height: 100%;
    width: 100%;
    box-shadow:0 0 20px #333;
    filter: grayscale(100);
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    filter:drop-shadow(0 0 10px #333);
}

.card:hover img{
    filter: grayscale(0%);
}

figcaption {
    position: absolute;
    bottom: 0;
    left:0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size:16 ;
    font-weight:500 ;
    color: white;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

figcaption:hover {
    opacity: 1;
    transform: scale(1.03);
}